/* CSS Document */
body{
	background:#EEEFFE;
	color:black;
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'DejaVu Sans', Verdana, 'sans-serif';
	margin:none;
	line-height: 20px;
	padding-top:12px
}

.table {
	display: table;   /* Allow the centering to work */
	margin: 0 auto;
	float:right;
}

.center {
margin: 0 auto;
width: 60%;
border: 2px solid #181818;
}

ul#horizontal-list {
	min-width: 696px;
	list-style: none;
	padding-top: 0px;
	}
	ul#horizontal-list li {
		display: inline;
		padding:48px;
		color:white;
		background-color:transparent;
	}
ul#horizontal-list a{
	color:white;
}

#menu-outer{
	color:black;
	position:relative;
	top:0px;
	width:96%;
	height:48px;
	background-color:#4F689E;
	padding:8px;
	padding-top:0px;
	padding-bottom:0px;
	line-height:16px;
}

#main-page{
	position:relative;
	width:100%;
	height:auto;
	background-color:aliceblue;
}
#mp-container{
		position:relative;
	top:20px;
	width:96%;
	padding:8px;
	padding-top:0px;
	padding-bottom:0px;
	height:auto;
	background-color:aliceblue;
}

#banner{
	
}
/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: black;
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active link (or home/logo) */
.active {
  background-color: #04AA6D;
  color: white;
}

.inline-pic-container{
	position:relative;
	display:inline;
	width:240px;
	height:240px;
}
	.inline-pic {
		position:relative;
		display:inline;
	}
.pic-caption{
	position:relative;
	text-align:center;
}
#footer{
	position:relative;
	top:40px;
	width:96%;
	padding:8px;
}